* {
    box-sizing: border-box;
}
body {
  background: gray;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .resume-container {
      width: 1030px;
  }
}
@media screen and (min-width: 992px) {
  .resume-container {
      width: 970px;
  }
}
@media screen and (min-width: 768px) {
  .resume-container {
      width: 750px;
  }
}
.resume-container {
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 3px 3px 9px rgba(0,0,0,.2);
}
.resume-header {
  overflow: hidden;
  background-color: #333;
  color: white;
}
.resume-title {
  float: right;
  text-align: right;
  margin: 0;
}
.resume-contact {
  float: left;
  margin: 0;
}
.resume-main {
  overflow: hidden;
}
.resume-main-left {
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
.resume-main-right {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
/*.float-right {
  float: right;
}
.float-left {
  float: left;
}*/
